{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "printWidth": 120,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./]"],
    "importOrderParserPlugins": ["typescript", "dcorators", "decorators-legacy"]
  }
  